.animate-ul{
    visibility: hidden;
    pointer-events: none;
    transition: all .5s;
}
.text-hover:hover + ul{
    visibility: visible;
    pointer-events: initial;
    opacity: 1;
    transform: translateY(0);
}
.animate-ul:hover{
    visibility: visible;
    pointer-events: initial;
    opacity: 1;
    transform: translateY(0);
}